*{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

$color-dark: #030303;
$color-dark-red: #710707;
$color-font-gold: #9D8665;



.wrapper{
    margin: 0 auto;
    max-width: 100%;

    .header{
        width: 100%;
        height: 200px;
        background-color: $color-dark;
       
        &-content{
            margin: 0 auto;
            padding: 75px 240px;
            max-width: 1440px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &_logo{
                align-items: center;
                display: flex;
                padding-bottom: 40px;

                span{
                    font-family: 'Forum', cursive;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 50px;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    padding-left: 20px;
                    
                }
            }

            &_nav{
                ul{
                    display: flex;
                    flex-direction: row;
                   
                    
                    li{
                        margin-left: 76px;

                        a{
                            font-family: 'Roboto', sans-serif;  
                            font-style: normal;
                            font-weight: 200;
                            font-size: 22px;
                            line-height: 50px;
                            letter-spacing: 2px;
                            color: #FFFFFF;

                            &:hover{
                                transition: .5s;
                                color: $color-font-gold;
                            }

                            &:active{
                                transition: .5s;
                                color: $color-font-gold;
                            }
                        }
                    }
                }
            }
        }
    }

    .main{
        .welcome{
            width: 100%;
            background-color: $color-dark;
            

            &-content{
                margin: 0 auto;
                padding: 0 0 0 240px ;
                max-width: 1920px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
               

                &_text{
                    display: flex;
                    flex-direction: column;
                    
                    z-index: 2;
                    
                   

                    h1{
                        font-family: 'Forum', cursive;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 80px;
                        line-height: 90px;
                        letter-spacing: 5px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        position: absolute;
                        top: 310px;
                    }

                    h2{
                        padding-top: 316px;
                        font-family: 'Roboto', sans-serif;  
                        font-style: normal;
                        font-weight: 300;
                        font-size: 28px;
                        line-height: 33px;
                        letter-spacing: 2px;
                        color: #FFFFFF;
                        
                    }

                    button{
                        margin-top: 80px;
                        width: 360px;
                        height: 75px;
                        border: none;
                        outline: none;
                        border-radius: 10px;
                        background-color: $color-dark-red;
                        font-style: normal;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 200;
                        font-size: 22px;
                        line-height: 26px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        letter-spacing: 2px;
                        color: #FFFFFF;
                        
                        &:hover{
                            transition: .5s;
                            cursor: pointer;
                            background-color: $color-font-gold;

                        }
                    }
                }

                img{
                    z-index: 0;
                }
            }
        }
    }

    .visiting{
        margin-top: 75px;

        &-content{
            margin: 0 auto;
            padding: 0 240px ;
            max-width: 1440px;

            &_title{

                h2{
                    font-family: 'Forum', cursive;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 80px;
                    line-height: 90px;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                    color: #9D8665;
                }

                span{
                    margin-top: 25px;
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: $color-dark-red;
                }
            }

            &_cards{
                margin-top: 75px;
                display: grid;
                grid-template-columns: 2fr 2fr 1fr;
                grid-template-rows: 1.14fr 1fr;

                .card{
                    height: 440px;
                    width: 423px;
                   

                    h3{
                        margin-top: 22px;
                        font-family: 'Forum', cursive;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 32px;
                        line-height: 35px;
                        letter-spacing: 5px;
                        text-transform: uppercase;
                        color: #000000;
                    }

                    span{
                        margin-top: 9px;
                        width: 300px;
                        height: 2px;
                        display: block;
                        background-color: $color-dark-red;
                    }

                    h4{
                        margin-top: 12px;
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 200;
                        font-size: 22px;
                        line-height: 26px;
                        color: #000000;

                    }

                    p{
                        margin-top: 10px;
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 200;
                        font-size: 18px;
                        line-height: 21px;
                        color: #000000;
                    }
                }
            }
        }
    }
    
    .explore{
        margin-top: 55px;
        width: 100%;
        background-color: $color-dark;
        
        &-content{
            margin: 0 auto;
            padding: 83px 240px;
            max-width: 1440px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            

            &_text{
                
                h2{
                    font-family: 'Forum', cursive;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 80px;
                    line-height: 90px;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 25px;
                }

                span{
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: $color-dark-red;
                    margin-bottom: 75px; 
                }

                p{
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 22px;
                    line-height: 38px;
                    color: #FFFFFF;
                    margin-bottom: 25px;
                }
            }
        }
    }

    .video{
        width: 100%;

        &-content{
            margin: 0 auto;
            padding: 90px 240px;
            max-width: 1920px;
            display: flex;
            flex-direction: column;

            &_text{
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                h2{
                    font-family: 'Forum', cursive;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 80px;
                    line-height: 90px;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                    color: $color-font-gold;
                }

                p{
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 22px;
                    line-height: 38px;
                    display: flex;
                    align-items: center;
                    color: #000000;
                }
            }
        }
    }

    .tickets{
        margin-top: -6px;
        width: 100%;
        background-color: $color-dark;

        &-content{
            margin: 0 auto;
            padding: 74px 240px;
            max-width: 1440px;

            &_text{

                h2{
                    font-family: 'Forum', cursive;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 80px;
                    line-height: 90px;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 25px;
                }

                span{
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: $color-dark-red; 
                    margin-bottom: 75px; 
                }
                
            }

            &_amount{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .tickets-type{
                    display: flex;
                    flex-direction: column;
                    margin-right: 165px;

                    span{
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 33px;
                        color: #FFFFFF;
                    }

                    .input{
                       
                        display: flex;
                        flex-direction: column;

                        div{
                            display: flex;
                            flex-direction: row;
                            margin-top: 50px;

                            input{
                                margin-top: 3px;
                                width: 20px;
                                height: 20px;
                                margin-right: 20px;
                                cursor: pointer;
                            }

                            label{
                                
                                font-family: 'Roboto', sans-serif;
                                font-style: normal;
                                font-weight: 300;
                                font-size: 22px;
                                line-height: 26px;
                                color: #FFFFFF;
                                
                            }
                        }
                    } 
                }

                .tickets-amount{
                    display: flex;
                    flex-direction: column;

                    span{
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 33px;
                        color: #FFFFFF;
                    }

                    .input{
                        margin-top: 50px;
                        display: flex;
                        flex-direction: column;
                        
                        input{
                            height: 40px;
                            width: 140px;
                            cursor: pointer;
                        }

                        label{
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 22px;
                            line-height: 26px;
                            color: #FFFFFF;
                       
                        }
                    }

                    p{
                        margin:50px 0;
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 33px;
                        letter-spacing: 1.65px;
                        color: #FFFFFF;
                    }

                    button{
                        width: 175px;
                        height: 50px;  
                        background: #FFFFFF;
                        border-radius: 2px;    
                        border: none;
                        outline: none; 
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 22px;
                        line-height: 26px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        letter-spacing: 2px;
                        color: #000000;

                        &:hover{
                            transition: .5s;
                            cursor: pointer;
                            background-color: $color-font-gold;
                        }
                    }
                }
            }
        }
    }
    .contacts{
        width: 100%;

        &-content{
            margin: 0 auto;
            padding: 72px 240px;
            max-width: 1440px;

            &_text{

                h2{
                    font-family: 'Forum', cursive;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 80px;
                    line-height: 90px;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                    color: #9D8665;
                }

                span{
                    margin-top: 25px;
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: $color-dark-red;
                }
            }

            &_map{
                display: flex;
                flex-direction: row;
                margin-top: 75px;
                justify-content: space-between;

                .text{
                    margin-top: 13px;
                    h3{
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 33px;
                        color: #000000;
                        margin-bottom: 36px;

                    }

                    p{
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 22px;
                        line-height: 26px;
                        color: #000000; 
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    .footer{
        width: 100%;
        background-color: $color-dark;

        &-content{
            margin: 0 auto;
            padding: 79px 240px;
            max-width: 1440px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &_logo{
                
                display: flex;
                padding-bottom: 40px;

                img{
                    padding-bottom: 55px;  
                }

                span{
                    font-family: 'Forum', cursive;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 50px;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    padding-left: 20px;
                    
                }
            }

            &_nav{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-right: 335px;

                ul{
                    margin-left: 172px;
                    li{
                        a{
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: 200;
                            font-size: 22px;
                            line-height: 50px;
                            letter-spacing: 2px;
                            color: #FFFFFF;
                            
                            &:hover{
                                transition: .5s;
                                color: $color-font-gold;
                            }

                            &:active{
                                transition: .5s;
                                color: $color-font-gold;
                            }
                            
                        }
                    }
                }
            }

            &_social{
                margin-top: 83px;
                ul{
                    display: flex;
                    flex-direction: row;

                    li{
                        height: 48px;
                        width: 48px;
                        border: 1px solid #666666;
                        box-sizing: border-box;
                        filter: drop-shadow(0px 0px 0px #666666);
                        border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 24px ;
                        
                        &:hover{
                            transform: scale(1.5, 1.5);
                            cursor: pointer;
                            border: 1px solid red;
                        }

                        

                        a{
                            display: flex;
                            justify-content: center;
                            align-items: center;

                             
                        }
                    }
                }
            }
        }
    }
}